{% extends "frontend/layout.html.twig" %}

{% block title %}{% endblock %}
{% block meta_description %}{% endblock %}

{% block content %}
    <div class="midsec magazine">
        <h2>איפוס סיסמה</h2>
        <div class="magcont">
            <div class="box dtl">

                <form action="{{ app.request.requesturi }}" method="post">
                    <div class="harsama-midsec">
                        <div class="freeze_cont">

                            <br><br>

                            לקבלת סיסמה חדשה יש להזין את האימייל עמו נרשמת לאתר.

                            <br><br>

                            {% if form.email.vars.errors|length %}
                                <div class="errors">
                                    <div class="ui orange message">
                                        <div class="content">
                                            <div class="header">
                                                {{ form_errors(form.email) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br><br>
                            {% endif %}

                            {% if success %}
                                <div class="ui olive message">
                                    <div class="content">
                                        <div class="header">
                                            סיסמה חדשה נשלחה לכתובת האימייל שהזנת.
                                        </div>
                                    </div>
                                </div>
                            {% endif %}


                            <div class="label">{{ form_label(form.email) }}</div>
                            <div class="inputdiv">
                                {{ form_widget(form.email) }}
                            </div>

                            {{ form_rest(form) }}


                        </div>
                    </div>

                    <div class="clearfix">
                        <input type="button" value="שלחו" class="free" onclick="$('#save_data').click();">
                        <input type="submit" id="save_data" class="hidden">
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}


