<div id="header">
    <div class="right" id="header_wrapper">
        <h1 class="ui header">
            <i class="{{ icon }} icon"></i>
            <div class="content">
                {{ header }}
                {% if sub_header is defined %}<div class="sub header">{{ sub_header }}</div>{% endif %}
            </div>
        </h1>
    </div>

    <div class="left" id="search">
        <button class="ui icon button massive">
            <i class="icon sidebar"></i>
        </button>
    </div>

    <div class="left" id="homepage">
        <a href="{{ path('user_homepage') }}" target="_blank">
            <button class="ui icon button massive">
                <i class="icon home"></i>
            </button>
        </a>
    </div>

    <div class="left" id="logout">
        <button class="ui icon button massive" onclick="window.location.href='{{ path('logout') }}'">
            <i class="icon power"></i>
        </button>
    </div>

</div>

<div class="clear"></div>