{% extends "frontend/layout.html.twig" %}


{% block content %}
	<div class="asideR mobile">
    	{% if app.user %}
			<div class="greybox">
            	<a href="#" class="tgl">ניהול חשבון</a>
                <h3>ניהול חשבון</h3>
                <div class="greyboxmid">
                	<ul>
                    	<li><a href="{{ path('user_profile') }}"><i><img src="/images/right-menu-9.png" alt="" /></i> עריכת פרופיל</a></li>
                        <li><a href="{{ path('user_profile', {'tab': 4}) }}"><i><img src="/images/right-menu-10.png" alt="" /></i> עריכת תמונות</a></li>
                        <li><a href="{{ path('user_manage_list_favorited') }}"><i><img src="/images/right-menu-11.png" alt="" /></i> ניהול רשימת מועדפים</a></li>
                        <li><a href="{{ path('user_change_password') }}"><i><img src="/images/right-menu-12.png" alt="" /></i> עדכון סיסמה</a></li>
                        {#<li><a href="#"><i><img src="/images/right-menu-13.png" alt="" /></i> הגדרת הודעות</a></li>#}
                        <li><a href="{{ path('user_settings') }}"><i><img src="/images/right-menu-13.png" alt="" /></i> הגדרת הודעות</a></li>
                        <li><a href="{{ path('user_manage_list_black_listed') }}"><i><img src="/images/right-menu-14.png" alt="" /></i> ניהול רשימת חסומים</a></li>
                        <li><a href="{{ path('user_freeze_account') }}"><i><img src="/images/right-menu-15.png" alt="" /></i> הקפאת חשבון</a></li>
                        <li><a href="{{ path('user_search_advanced') }}"><i><img src="/images/right-menu-16.png" alt="" /></i> חיפוש מתקדם</a></li>
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
