<div class="popright">
    <div class="popbox clearfix">
        {% if app.user %}
            <textarea id="instant_message" cols="2" rows="2" placeholder="שליחת הודעה מהירה"></textarea>
            <input type="submit" value="שלח/י" class="btn" onclick="sendInstantMessage({{ user.id }}, $('#instant_message'))">
        {% endif %}
    </div>
    <!-- end -->

    <div class="popbox clearfix">
        <h3 class="ttl tog_click">אני בקצרה</h3>
		<div>
	        <ul class="infobox bdr">
	            <li><span class="spnttl">מצב משפחתי:</span> {{ user.relationshipStatus.name }}</li>
	            <li><span class="spnttl">מזל:</span> {{ getZodiac(user.birthday|date('U')) }}</li>
	            <li><span class="spnttl">הרגלי עישון:</span> {{ user.smoking.name }}</li>
	            <li>
	                <span class="spnttl right">כאן למטרת:</span>
	                <span class="det right">
	                {% for purpose in user.purposes %}
	                    {{ purpose.name }}{% if not loop.last %},{% endif %}
	                {% endfor %}
	                </span>
	
	            </li>
	            <li><span class="spnttl">העדפה:</span> {{ user.sexOrientation.name }}</li>
	        </ul>
	
	        <ul class="infobox">
	            <li><span class="spnttl">ילדים:</span> {{ user.children.name }}</li>
	            <li><span class="spnttl right">תחום עיסוק:</span><span class="det right">{{ user.occupation.name }}</span></li>
	            <li><span class="spnttl">דת:</span> {{ user.religion.name }}</li>
	            <li><span class="spnttl">השכלה:</span> {{ user.education.name }}</li>
	        </ul>
		</div>
        <div class="clr"></div>

        <h3 class="ttl tog_click">אני בהרחבה</h3>
        
		<div>
	        <ul class="infobox bdr">
	            <li><span class="spnttl">אני:</span> {{ user.relationshipStatus.name }}</li>
	            <li><span class="spnttl">תזונה:</span> {% if user.nutrition != null %}{{ user.nutrition.name }}{% endif %}</li>
	            <li>
	                <span class="spnttl right">אני צמחוני/טבעוני כי:</span>
	                <span class="det right">
	                {% for reason in user.veggieReasons %}
	                    {{ reason.name }}{% if not loop.last %},{% endif %}
	                {% endfor %}
	                </span>
	            </li>
	            <li><span class="spnttl">הרגלי שתיה:</span> {{ user.drinking.name }}</li>
	            <li><span class="spnttl">הרגלי ספורט</span> {{ user.sport.name }}</li>
	        </ul>
	
	        <ul class="infobox">
	            <li>
	                <span class="spnttl right">כמה ירוק אני:</span>
	                <span class="det right">
	                    {{ user.green.name }}
	                </span>
	            </li>
	            <li><span class="spnttl">בע״ח:</span> {{ user.animals.name }}</li>
	            <li>
	                <span class="spnttl right">תחומי עניין:</span>
	                <span class="det right">
	                {% for interest in user.interests %}
	                    {{ interest.name }}{% if not loop.last %},{% endif %}
	                {% endfor %}
	                </span>
	            </li>
	            <li><span class="spnttl">השקפה פוליטית:</span> {{ user.politicalAffiliation.name }}</li>
	        </ul>
		</div>
		
        <div class="clr"></div>

        <h3 class="ttl tog_click">איך אני נראה/ית</h3>
		
		<div>
	        <ul class="infobox bdr">
	            <li><span class="spnttl">גובה:</span> {{ user.height }}</li>
	            <li><span class="spnttl">מבנה גוף:</span> {{ user.body.name }}</li>
	        </ul>
	
	        <ul class="infobox">
	            <li><span class="spnttl">צבע עיניים:</span> {{ user.eyes.name }}</li>
	            <li><span class="spnttl">צבע שיער:</span> {{ user.hair.name }}</li>
	        </ul>
		</div>
		
        <div class="clr"></div>

    </div>
    <!-- end -->
</div>
<!-- popright -->

<div class="clr"></div>

<div class="popright">
    <div class="popbox clearfix">
        <h3 class="ttl tog_click">אני בכמה מילים</h3>
        <div class="descption">{{ user.about }}</div>

        <h3 class="ttl tog_click">עוד קצת עליי</h3>
		
		<div>
	        <div class="descption">
	            הדייט המושלם עבורי הוא...:
	            <br>
	            {{ user.perfectDate }}
	        </div>
	
	        <div class="descption">
	            מנה צמחונית אהובה:
	            <br>
	            {{ user.favoriteDish }}
	        </div>
	
	        <div class="descption">
	            מסעדה ידידותית לצמחונים שאני אוהב/ת...
	            <br>
	            {{ user.favoriteRestaurant }}
	        </div>
	
	        <div class="descption">
	            איזו אישיות הייתי מזמין לארוחת ערב?
	            <br>
	            {{ user.dinnerWith }}
	        </div>
	        
	        <div class="descption">
	            הספרים האהובים עליי:
	            <br>
	            {{ user.favoriteBooks }}
	        </div>
	
	        <div class="descption">
	            המוזיקה שאני שומע...
	            <br>
	            {{ user.music }}
	        </div>
		</div>
		        
    </div>
    <!-- end -->
</div>
<!-- popright -->

<div class="popleft">
    <div class="popbox clearfix">
        <h3 class="ttl tog_click">מה אני מחפש/ת?</h3>
        <div class="descption">{{ user.looking }}</div>

        {#<div class="spacer"></div>
        
        <div class="descption">
            הספרים האהובים עליי:
            <br>
            {{ user.favoriteBooks }}
        </div>

        <div class="descption">
            המוזיקה שאני שומע...
            <br>
            {{ user.music }}
        </div>
        #}

        
    </div>
    <!-- end -->

    {% if app.user and app.user.id != user.id %}
        <div class="popbox clearfix">
            <h3 class="ttl tog_click">הערות שלי</h3>
            <div>
	            {% set note = user.getNotesAboutMe(app.user) %}
	            <textarea cols="2" rows="2" class="txtarea2" maxlength="255">{% if note %}{{ note.text }}{% endif %}</textarea>
	            <div class="textlimit">נותרו לך 255 תווים</div>
	            <input type="submit" value="שמור  הערות" class="btn red" id="save_note" />
	            <input type="hidden" value="{{ user.id }}" class="memberId">
            </div>
        </div>
        <!-- Comment box -->
    {% endif %}
</div>
<!-- popleft -->