
<script>

    width = $('.galpreview div').width();
    height = $('.galpreview div').height();

    mainWidth = $('.galpic').width();
    mainHeight = $('.galpic').height();

    $(document).ready(function(){

        $('.galpreview div[data-pic]:last-child').addClass('lastdiv');

        $('.galpreview input[type="hidden"]').each(function(){
            //photosName.push($(this).val());
            var previewPhotoUrl = $.cloudinary.url($(this).val(), { width: width, height: height, crop: 'fill' })
            var bigPhotoUrl = $.cloudinary.url($(this).val(), { width: mainWidth, height: mainHeight, crop: 'fill' });
            $(this).siblings('img').attr('src', previewPhotoUrl).parent().attr('data-pic', bigPhotoUrl);
        });

        //$('.galpreview div').eq(0).addClass('active');
        if($('.galpreview div.active').size()){
            $('.galpic img').show().attr('src', $('.galpreview div.active').attr('data-pic'));
        }

        $('.galpreview div').on({
            'click':function(){
                

                var curElem = $(this);
                var curElemAttr = curElem.attr('data-pic');
                $('.galpreview div').removeClass('active');
                curElem.addClass('active');
                $('.galpic img').attr('src', curElemAttr);


            }
        });


        $('#save_note').click(function(){
            var memberId = $(this).siblings('.memberId').val()
            var text = $(this).siblings('textarea').val();
            saveNote(memberId, text);
        });

        $('.report_abuse').click(function(e){
        	$('#user_data').animate({scrollTop: 100 }, 800);
            e.preventDefault();
            $('.report-success').hide();
            $('.report-cont').slideDown('slow');

            if($(this).hasClass('bottom')){
                //$('#user_data').scrollTo(0, $('.popuplogo').offset().top + 100);
               // $('#user_data').animate({scrollTop: $('.popuplogo').offset().top + 100 }, 800);
            }

        });

        $('#report').click(function(){
            var memberId = $(this).parents('.report-cont').find('.memberId').val()
            var text = $(this).parents('.report-cont').find('textarea').val();
            reportAbuse(memberId, text);
        });




        favAndBlackListActionsInit();
        
        if($(window).width() <= 640){
			$('.popbox .ttl.tog_click').click(function(){
				if($(this).hasClass('open')){
					$(this).next().hide();
				}else{
					$(this).next().show();
				}
				$(this).toggleClass('open');
				/*$(this).next().slideToggle( "slow", function() {
				    $(this).prev().toggleClass('open');
				});
				*/
			});
		}

    });


    function reportAbuse(memberId, text){

        if(text.length == ''){
            return;
        }

        $.ajax({
            url: '/user/report/abuse/' + memberId,
            type: 'Post',
            data: 'text=' + text,
            error: function(response){
                console.log("Error:" + JSON.stringify(response));
            },
            success: function(response){
                console.log("Success:" + JSON.stringify(response));
                $('.report-cont').slideUp('slow');
                $('.report-success').slideDown('slow');
                //alert('תודה! הודעה נשלחה לצוות גרינדייט.');
            }
        });
    }



    function saveNote(memberId, text){
        $.ajax({
            url: '/user/notes/' + memberId,
            type: 'Post',
            data: 'text=' + text,
            error: function(response){
                console.log("Error:" + JSON.stringify(response));
            },
            success: function(response){
                console.log("Success:" + JSON.stringify(response));
                alert('הערות נשמרו');
            }
        });
    }

    function sendInstantMessage(contactId, textarea){

        var message = textarea.val();

        if(message.length == 0){
            return false;
        }

        textarea.val('');
        console.log('START SENDING');

        $.ajax({
            url: '/messenger/message/send/userId:{{ app.user.id }}/contactId:' + contactId,
            headers: { 'apiKey': Messenger.apiKey }, 
            timeout:80000,
            dataType: 'json',
            type: 'Post',
            data: 'message='+encodeURIComponent(message),
            context: this,
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            error: function(response){
                console.log(JSON.stringify(response));
            },
            success: function(response, status){
                if(response.success){
                    console.log('MESSAGE:' + JSON.stringify(response.message));
                    console.log('END SENDING');
                    alert('הודעה נשלחה בהצלחה');
                }
                else{
                    console.log(JSON.stringify(response));

                    if(response.contactIsFrozen){
                        alert('הודעה זו לא נשלחה כיוון שמשתמש זה הקפיא את חשבונו.');
                        return;
                    }

                    if(response.chatIsForbidden){
                        alert("הודעה זו לא נשלחה כיוון שמשתמש זה נמצא ברשימת החסומים שלך או שאת/ה נמצא ברשימת החסומים שלו. אם את/ה מעוניין להסיר משתמש זה מרשימת החסומים שלך יש לגשת לניהול חשבון ולבחור בניהול רשימת חסומים.");
                        return;
                    }

                    if(response.isLimit){
                        alert("הגעת לכמות המקסימלית של שליחת הודעות");
                        return;
                    }

                }
            }
        });

    }


</script>
<div class="popup-head clearfix">
{% if app.user.id != user.id %}

    
        <div class="popuplogo"><a href="index.html"><img src="/images/logo2.png" alt=""></a></div>
        <div class="popupmenu boxcont">
            <input type="hidden" class="userId" value="{{ user.id }}">
            <ul>
                <li><a href="{{ path('messenger_dialog_open',{'userId': app.user.id, 'contactId': user.id}) }}"><span><img src="/images/popup-menu-icon7.png" alt=""></span> שלח לי הודעה</a></li>
                {#<li><a href="#"><span><img src="/images/popup-menu-icon6.png" alt=""></span>צ’אט</a></li>#}
                {#<li><a href="#"><span><img src="/images/popup-menu-icon5.png" alt=""></span>Like</a></li>#}
                {#<li><a href="#"><span><img src="/images/popup-menu-icon4.png" alt=""></span>שלח קריצה</a></li>#}
                <li><a href="#" class="add_to_fav"><span><img src="/images/popup-menu-icon3.png" alt=""></span> הוספה למועדפים</a></li>
                <li><a href="#" class="add_to_back_list"><span><img src="/images/popup-menu-icon2.png" alt=""></span> חסימה</a></li>
                <li><a href="#" class="report_abuse"><span><img src="/images/popup-menu-icon1.png" alt=""></span> דווח למערכת על <br> כרטיס לא תקין </a></li>
            </ul>
        </div>
    
    <!-- end -->

{% endif %}
</div>

<div class="report-cont hidden">
    <textarea placeholder="הערות"></textarea>
    <input type="hidden" value="{{ user.id }}" class="memberId">
    <div class="btn-wrapper">
        <button class="btn" id="report">שלח/י</button>
    </div>
</div>


<div class="report-success hidden">תודה! הודעה נשלחה לצוות גרינדייט.</div>
	<div class="popbox clearfix title_profile">
        <h3 class="ttl clearfix">
            <span>{{ user.username }}</span>
            {% if user.isNew %}<img src="/images/main-pg-subtitle-icon.png" alt="" class="smimg"/>{% endif %}
            {% if user.isPaying %}<img src="/images/main-pg-queen-icon.png" alt="" />{% endif %}
        </h3>
        <div class="desp">{{ user.age }}, {{ user.city.name }}</div>
   </div>
<div class="popup-midsec clearfix">

    <div class="popleft">
{#        <a href="https://www.greendate.co.il/עמודים/ספידייט">#}
{#            <img class="banner" src="/images/banners/small580-75.gif" style="width:100%;margin: 0 auto;" />#}
{#        </a>#}
        {#<a href="https://www.greendate.co.il/עמודים/גרינדייט_באנסטסיה">
            <img class="banner" src="/images/banner2.gif" style="width:100%;margin: 0 auto;" />
        </a>#}
        <div class="sgallery">
            <div class="galcont">
                <div class="galpic {% if user.gender.id == 1 %}male{% else %}female{% endif %}">

                    <div class="ui active disabled dimmer inverted" id="main_photo_dimmer">
                        <div class="ui text large loader disabled">טעינה</div>
                    </div>

                    <div><img src="" style="display: none;"></div>
                </div>
            </div>
            <div class="galpreview">

                {% set mainIsExists = false %}

                {% set mainPhoto = user.getMainPhoto %}

                {% set isActive = false %}

                {% if mainPhoto is not null %}

                    {% set mainIsExists = true %}

                    <div data-pic="" class="active">
                        <img src="">
                        <input type="hidden" value="{{ mainPhoto.name }}">
                    </div>
                {% endif %}

                {% for photo in user.photos %}
                    {% if photo.isValid and not photo.isMain%}
                        <div data-pic="" {% if not mainIsExists and not isActive %}{% set isActive = true %}class="active"{% endif %}>
                            <img src="">
                            <input type="hidden" value="{{ photo.name }}">
                        </div>
                    {% endif %}
                {% endfor %}

                {#
                <div data-pic="/images/hp-article-img3.jpg">
                    <img src="/images/hp-article-img3.jpg">
                </div>
                <div data-pic="/images/hp-article-img1.jpg">
                    <img src="/images/hp-article-img1.jpg">
                </div>
                <div data-pic="/images/hp-article-img2.jpg">
                    <img src="/images/hp-article-img2.jpg">
                </div>
                <div data-pic="/images/hodaot-girl-img.jpg" class="lastdiv">
                    <img src="/images/hodaot-girl-img.jpg">
                </div>
                #}

            </div>
            		 {# <a href="https://www.greendate.co.il/%D7%A2%D7%9E%D7%95%D7%93%D7%99%D7%9D/%D7%A1%D7%A4%D7%99%D7%93%D7%99%D7%99%D7%98">
						<img class="banner" src="/images/spedate2.gif" style="width:100%;margin: 0 auto;" />
					</a>#}
{#            <a href="https://www.greendate.co.il/עמודים/ספידייט">#}
{#                <img class="banner" src="/images/banners/small580-75.gif" style="width:100%;margin: 0 auto;" />#}
{#            </a>#}
        </div>
        <!-- end -->

    </div>
    <!-- popleft -->



    {{ include ('frontend/user/user_data.html.twig') }}


</div>
<!-- end -->

{% if app.user.id != user.id %}
    <!-- BTM -->
    <div class="popupbtm clearfix">
        <div class="popupmenu clearfix boxcont">
            <input type="hidden" class="userId" value="{{ user.id }}">
            <ul>
                <li><a href="{{ path('messenger_dialog_open',{'userId': app.user.id, 'contactId': user.id}) }}"><span><img src="/images/popup-menu-icon7.png" alt=""></span> שלח לי הודעה</a></li>
                {#<li><a href="#"><span><img src="/images/popup-menu-icon6.png" alt=""></span>צ’אט</a></li>#}
                {#<li><a href="#"><span><img src="/images/popup-menu-icon5.png" alt=""></span>Like</a></li>#}
                {#<li><a href="#"><span><img src="/images/popup-menu-icon4.png" alt=""></span>שלח קריצה</a></li>#}
                <li><a href="#" class="add_to_fav"><span><img src="/images/popup-menu-icon3.png" alt=""></span> הוספה למועדפים</a></li>
                <li><a href="#" class="add_to_back_list"><span><img src="/images/popup-menu-icon2.png" alt=""></span> חסימה</a></li>
                <li><a href="#" class="report_abuse bottom"><span><img src="/images/popup-menu-icon1.png" alt=""></span> דווח למערכת על <br> כרטיס לא תקין </a></li>
            </ul>
        </div>
    </div>
    <!-- BTM -->
{% endif %}
